/* LIEN EXTERNE */
.cms_a_external{
clear:both;
margin:0 0 10px 0;
}
.cms_a_external .d1{
padding:0 0 10px 0;
}
.cms_a_external .d2{
padding:0;
overflow:hidden;
zoom:1;
}
.cms_a_external a{
background: url(../../images/puce2.gif) no-repeat 5px 5px;
list-style:none;
padding-left:15px;
zoom:1;
}