/* TEXTE ENRICHI + visuel */
.contact_colonne {
	width:220px;
	padding-top:100px;
}
.contact_colonne img {
	border:none;
}
.visu_gauche cite, .visu_droite cite{
	display:block;
	margin:5px;
}
.contact_colonne p{}
.contact_colonne strong{}
.contact_colonne em{}
#cms .contact_colonne a{}
.contact_colonne ul{}
.contact_colonne ul li{}

/* _contact.php include */

.cms_encart4 { width:520px; }

.cms_encart4_body {
	background: url(../../images/bg_encart4_body.gif) repeat-y;
}
.cms_encart4_body h1 {
	background: url(../../images/bg_encart4.gif) no-repeat;
	color: #FFF;
	height:29px;
	line-height:29px;
	vertical-align:middle;
	text-align:center;
	font-size:16px;
	font-weight:blod;
	margin:0;
	padding:0 0 0 30px;
}
.cms_encart4_content {
	padding:10px;
}
.cms_encart4_content p {
	text-align:left;
}
/* form input */
.cms_encart4_content label {
	color: #CD0C1C;
	background:#e0ded7;
	marging:4px;
	padding:4px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px;
	margin:0 20px;
	width:160px;
}
.cms_encart4_content input, .cms_encart4_content textarea {
	color:#666666;
	background:#FFF;
	width:260px;
	border:1px solid #999999;
}
.cms_encart4_content input {
	height:18px;
}
.cms_encart4_content button { margin:0 0 0 206px; }
