body {
	background:#FFF url(../images/mainbg.png) repeat-x;
	color:#1E91D4;
	font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size:62.5%;
	margin:0;
	padding:0;
	text-align:center;
}
#page {
	background-image:url(../images/images/mm.png)!important; 
	/*background-image:url(no-image);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='images/images/mm.png',sizingMethod='scale');*/
	border:none;
	margin:0 auto 20px;
	padding:10px 0 0;
	text-align:left;
	width:962px;
}
#content {
	font-size:1.2em;
	margin:0 30px;
}
#header {
	position:relative;
	background-image:url(../images/images/hh.png)!important; 
	/*background-image:url(no-image);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='images/images/hh.png',sizingMethod='crop');*/
	background-repeat:no-repeat;
	height:145px;
	margin:10px auto -1px;
	padding:0;
	width:962px;
	text-align:center;
}
#header_space {
	height:94px;
}
#footer {
	background-image:url(../images/images/bb.png)!important; 
	/*background-image:url(no-image);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='images/images/bb.png',sizingMethod='crop');*/
	background-repeat:no-repeat;
	background-position:bottom;
	border:none;
	clear:both;
	height:63px;
	margin:0;
	padding:0;
	width:962px;
}
#footer p {
	margin:0;
	padding:33px 0 0;
	text-align:center;
}
#footer a:hover {
	color:#EBFDE5;
}

#pagefoot {
	background-image:url(../images/bottom.png)!important; 
	/*background-image:url(no-image);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='images/bottom.png',sizingMethod='crop');*/
	background-repeat:no-repeat;
	text-align:center;
	width:972px;
	height:124px;
	margin-left:auto;
	margin-right:auto;
	padding-top:8px;
}

#maincontent {
	border-right:1px dotted #999;
	color:#666;
	float:left;
	font-size:1.1em;
	height:inherit;
	line-height:1.6em;
	padding-right:10px;
	width:615px;
}
#navigation {
	float:right;
	width:260px;
}

small {
font-family:Arial,  Helvetica,  Sans-Serif;
font-size:.9em;
line-height:1.5em;
}
h1, h2, h3 {
color:#1E91D4;
font-family:'Trebuchet MS',  'Lucida Grande',  Verdana,  Arial,  Sans-Serif;
font-weight:700;
margin:10px 0;
padding:0;
}
h1 {
font-size:1.6em;
margin:15px 0;
text-transform:uppercase;
}
h2 {
font-size:1.4em;
}
h3 {
font-size:1.2em;
font-variant:small-caps;
}
h1 a:hover, h2 a:hover, h3 a:hover {
color:#1E91D4;
text-decoration:underline;
}
a {
color:#1E91D4;
text-decoration:none;
}
a:hover {
color:#FFDA3E;
}
img.centered {
display:block;
margin-left:auto;
margin-right:auto;
}
img.alignright {
display:inline;
margin:0 0 2px 7px;
padding:4px;
}
img.alignleft {
display:inline;
margin:0 7px 2px 0;
padding:4px;
}
.right {
float:right;
}
.left {
float:left;
}
a img {
border:none;
}
a img.bor {
border:1px solid #E4E4E4;
margin:2px;
}
.clear {
clear:both;
margin:5px;
}
.breaker {
clear:both;
display:block;
height:0;
}
.spacer {
clear:both;
display:block;
height:20px;
}
hr {
border-top:1px solid #E4E4E4;
height:0;
margin:10px 0;
padding:0;
}
#navigation h2 {
color:#666666;
font-size:1.2em;
margin:1px 0 3px;
}
#maincontent p {
margin:0 0 15px;
}
ul, blockquote {
margin:Opx;
padding:0;
}
li {
list-style-position:inside;
margin:0 0 0 10px;
}

ul.site {
margin:0;
padding:0;
}
ul.site li {
display:block;
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
ul.site li a {
border:1px solid #E4E4E4;
display:block;
height:65px;
margin:2px;
overflow:hidden;
text-indent:-9999px;
width:80px;
}
.float50 {
float:left;
margin:0 5px 0 0;
width:280px;
}
.float50 ul {
font-size:.85em;
list-style-type:none;
margin:0;
padding:0;
}
.float50 li {
border-top:1px dotted #666;
padding:3px 5px;
}
.tooltip {
color:#fff;
width:172px;
z-index:13000;
}
.dsep {
border-top:1px dotted #666;
height:1px;
margin-bottom:10px;
margin-top:10px;
padding:0;
}
.highlight {
border:5px solid #FFF;
}
.highlight:hover {
border:5px solid #1E91D4;
}
.highlight2 {
border:7px solid #FFF;
}
.highlight2:hover {
border:7px solid #1E91D4;
}
#response {
height:20px;
width:auto;
}
.codebox {
background-color:#CCC;
border:10px solid #FFF;
color:#000;
font-family:"Courier New",  Courier,  monospace;
font-size:.77em;
line-height:1.2em;
margin:10px 5px;
padding:5px;
}
.centered {
text-align:center;
}
.zoomIn {
cursor:url(../images/zoomin.cur),  pointer;
}
.zoomOut {
cursor:url(../images/zoomout.cur),  pointer;
}
form {
display:inline;
margin:0;
padding:0;
}
label {
cursor:pointer;
}
input, textarea, select, .inputStyle {
background-color:#EBFDE5;
border:1px dotted #FFDA3E;
color:#00AAEA;
font-family:verdana,  helvetica;
font-size:.9em;
margin:0;
padding:2px;
}
fieldset {
border:1px dashed #FFCE00;
margin:0;
padding:6px;
}
input {
height:1.4em;
margin:4px 0;
}
select {
border:1px dotted #FFCE00;
color:#00AAEA;
height:20px;
margin-bottom:-1px;
margin-top:1px;
vertical-align:middle;
width:auto;
}
textarea, select {
}
input.recherche {
background:#FFF url(../images/nav/rech.png) no-repeat left;
padding-left:20px;
}
input.button, a.button {
background:#EBFDE5;
border:1px solid #36EA00;
color:#36EA00;
cursor:pointer;
font-size:.7em;
font-weight:700;
letter-spacing:1px;
line-height:5px;
margin:0;
padding:2px 6px;
vertical-align:middle;
}
a:hover.button {
background-color:#FFF;
}
input.radio, input.checkbox {
background:none;
border:none;
color:#00AAEA;
height:14px;
margin:0;
padding:0;
width:14px;
}
form input.input_error, form textarea.area_error, form select.select_error {
border:1px solid #1E91D4;
}
.divError {
clear:both;
color:#00A7DC;
display:block;
font-size:10px;
}
#info_defil {
height:250px;
margin:0;
overflow:hidden;
width:260px;
}
#info_scroll {
height:250px;
overflow:hidden;
position:absolute;
width:260px;
}
h1, h1 a, h1 a:visited, h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:visited, .alert {
color:#1E91D4;
}
a:hover img.bor, ul.site li a:hover {
border:3px solid #1E91D4;
margin:0;
}
ul#menu li a span, .absmiddle {
vertical-align:middle;
}