#lightbox{ position: absolute; top: 40px; left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0; }
#lightbox img{  border:1px solid #3E4F4F; }
	#outerImageContainer{ position: relative; width: 33px; height: 66px; margin: 0 auto; }
	#imageDataContainer{ position: relative; font: 10px Verdana, Helvetica, sans-serif; margin: 0 auto; line-height: 1.4em; height:33px; width: 33px; }
	
#imageContainer{ padding: 10px; }
#loading{ position: absolute; top: 40%; left: 0%; width: 100%; height:33px; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0; }
#hoverNav a{ outline: none; }
#prevLink, #nextLink{ width: 49%; height: 100%; background: transparent url(../images/lightbox/blank.gif) no-repeat; display: block; }
#prevLink { left: 0; float: left; }
#nextLink { right: 0; float: right; }
#prevLink:hover, #prevLink:visited:hover { background: url(../images/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/lightbox/nextlabel.gif) right 15% no-repeat; }
	
#imageData{ padding:0 10px; }
	#imageData #imageDetails{ width: 90%; float: left; text-align: left; }
	#imageData #divController{ height:15px; display:block; margin-bottom:6px; }
#imageData #caption{ white-space:nowrap; }
#imageData #numberDisplay{ font-size:18px; font-weight:bold; margin-left:6px; margin-right:6px; }
	#diapoCtrl { margin-top:0px; }
	#slideTempo {  }
	#handleTempo {  }	
#imageData #bottomNavClose{ width: 21px; height: 21px; float: right; padding-bottom: 0.7em; }	
	#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000000; filter:alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html>body .clearfix { display: inline-block; width: 100%;  }
* html .clearfix { /* Hides from IE-mac \*/ height: 1%; /* End hide */ }	



/*
#imageData #slideTempo { display:block; position:relative; z-index:0;  width:120px; height:11px; border:1px solid #000; background: url(../images/action/slider_bg.png) left top no-repeat; }




#lightbox{ position: absolute; top: 40px; left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0; }
#lightbox a img{ border: none; }
	#outerImageContainer{ position: relative; background-color: #fff; width: 10px; height: 10px; margin: 0 auto; }
#imageContainer{ padding: 10px; }
#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0; }
#hoverNav a{ outline: none; }
#prevLink, #nextLink{ width: 49%; height: 100%; background: transparent url(../images/lightbox/blank.gif) no-repeat; display: block; }
#prevLink { left: 0; float: left; }
#nextLink { right: 0; float: right; }
#prevLink:hover, #prevLink:visited:hover { background: url(../images/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/lightbox/nextlabel.gif) right 15% no-repeat; }
	#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; }
#imageData{ padding:0 10px; }
#imageData #imageDetails{ width: 90%; height:44px; float: left; text-align: left; }
	#imageData #divController{ height:15px; };
#imageData #caption{ font-weight: bold; white-space:nowrap; }
#imageData #numberDisplay{ clear: left; padding-bottom: 1.0em; }			
#imageData #bottomNavClose{ width: 21px; float: right; padding-bottom: 0.7em; }	
	#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000033; filter:alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*/