#adherer{
float:left;
width:789px;
padding:28px 0 0 0;
}
/* PAGE */
.page{
width:789px;
}
.page p{
font-size:12px;
margin:0 0 20px 0;
}
.page .adherent{
background:url(../images/common/h_page_form.gif) no-repeat;
padding:2px 0 0 0;
}
.page .b_adherent{
background:url(../images/common/b_page_form.gif) no-repeat bottom;
padding:0 0 2px 0;
}
.page .f_adherent{
background:#F5F5F5 url(../images/common/f_page_form.gif) repeat-x;
border-left:1px solid #E3E4E3;
border-right:1px solid #E3E4E3;
padding:25px 20px 25px 20px;
overflow:hidden;
zoom:1;
}
.page .f_adherent .visuel{
float:left;
width:265px;
}
.page .f_adherent .texte{
float:right;
width:443px;
}
.page .f_adherent .texte h2{
font-size:18px;
font-weight:normal;
color:#006225;
margin:0 0 10px 0;
}
.page .f_adherent .texte .h_form{
background:url(../images/common/h_form.gif) no-repeat;
padding:3px 0 0 0;
}
.page .f_adherent .texte .b_form{
background:url(../images/common/b_form.gif) no-repeat bottom;
padding:0 0 3px 0;
}
.page .f_adherent .texte form{
background:#F6F6F6 url(../images/common/f_form.gif) repeat-x;
border-left:1px solid #E3E4E3;
border-right:1px solid #E3E4E3;
padding:20px;
}
.page .f_adherent .texte form p{
margin:0 0 8px 0;
overflow:hidden;
zoom:1;
}
.page .f_adherent .texte form label{
display:block;
float:left;
width:95px;
padding:0 15px 0 0;
font-size:12px;
text-align:right;
}
.page .f_adherent .texte form label sup{
vertical-align:top;
}
.page .f_adherent .texte form input, .page .f_adherent .texte form textarea{
display:block;
float:right;
width:288px;
font-size:12px;
border:1px solid #E3E4E3;
}
.page .f_adherent .texte form textarea{
height:100px;
}
.page .f_adherent .texte form input.bouton{
width:auto;
height:auto;
border:none;
}
.page .f_adherent .texte form span.obligatoire{
display:block;
float:left;
font-size:10px;
font-style:italic;
line-height:20px;
padding:0 20px 0 0;
}