/* TEXTE ENRICHI + visuel */
.cms_txt_img{
clear:both;
margin:0 0 10px 0;
overflow:hidden;
zoom:1;
}
.cms_txt_img .visu_gauche{
float:left;
margin:0 20px 2px 0;
}
.cms_txt_img .visu_droite{
float:right;
margin:0 0 2px 20px;
}
.cms_txt_img .visu_gauche img, .cms_txt_img .visu_droite img{
display:block;
border:none;
}
.cms_txt_img .visu_gauche cite, .cms_txt_img .visu_droite cite{
display:block;
margin:5px;
}
.cms_txt_img p{}
.cms_txt_img strong{}
.cms_txt_img em{}

.cms_txt_img ul{
margin:0;
}
.cms_txt_img ul li{
background:url(../../images/puce.gif) no-repeat 0px 5px;
list-style:none;
padding-left:10px;
zoom:1;
}