/* MENU */


/* 1er NIVEAU */
#menu_menu {
	position:relative;
	width:720px;
	margin:3px auto 0 auto;
}
#menu { /* #menu_menu ul*/
	padding:0;
	margin:0;
	font-size:1.2em;
}

#menu_menu ul li {
	/*position:relative;  IMPORTANT IE */
	list-style:none;
	float:left;
	padding:0;
	margin:0;
	background:url(../images/nav_divider.png) no-repeat right bottom;
}

#menu_menu ul li a {
	float:left;
	padding:0;
	margin:10;
	display:block;
	width:120px;
	height:29px;
	vertical-align:middle;
	line-height:29px;
	/*overflow:hidden;*/

	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	white-space:nowrap;
}
#menu_menu ul li.last a {
	border-right:none;
	width:106px;
}

#menu_menu ul li a {}
#menu_menu ul li a:hover, #menu_menu ul li.current a, #menu_menu ul li.current a:hover {
	background:url(../images/nav_btn_over.png) repeat-x left bottom;
	color:#1E91D4;
	text-decoration:none;
}


/* 2me niveau et suivants */

#menu_menu ul li ul {
	display:none;
	position:absolute;
	top:0;
	left:0; /* IMPORTANT IE */
	z-index:1500;
	border-top:none;
	margin-top:29px;
}

#menu_menu ul li ul li ul {
	margin-top:-1px;
	margin-left:-3px;
}
#menu_menu ul li ul li {
	!display:inline; /* IMPORTANT IE */
	float:none;
	margin:0;
	padding:0;
}

#menu_menu ul li ul li a {
	/*position:relative;*/
	display:block;
	width:120px;
	height:22px;
	vertical-align:middle;
	line-height:22px;
	float:none;
	background:#FFF;
	font-size:1.1em;
}

#menu_menu ul li ul li.last a {
}

#menu_menu ul li ul li a, #menu_menu ul li.current ul li a {
	color:#FF0101;
	border:1px solid #FF0101;
	border-top:none;
	background:#FFFFFF;
}
#menu_menu ul li ul li.first a {
	border-top:1px solid #FF0101;
}
#menu_menu ul li ul li a:hover, #menu_menu ul li.current ul li a:hover {
	color:#FFFFFF;
	background:#FF0101;
}
