/* LISTE DE LIEN DOWNLOAD*/
.cms_a_list_download{
margin:10px 0 10px 0;
overflow:hidden;
}
.cms_a_list_download .d1{
}
.cms_a_list_download .d2{
}
.cms_a_list_download ul{
margin:0 10px;
padding:0;
}
.cms_a_list_download li{
background: url(../../images/puce4.gif) no-repeat 5px 6px;
list-style:none;
margin:0;
padding:0;
zoom:1;
padding:3px 0;
padding:3px 0 3px 17px;
}
.cms_a_list_download li a{
	
}