/* MARQUEE */
.cms_marquee{
clear:both;
margin:0 0 10px 0;
}
.cms_marquee .d1{
padding:0 0 10px 0;
}
.cms_marquee .d2{
padding:0;
}
.cms_marquee marquee{
padding:0;
}
.cms_marquee p{
	font-size:20px;
	color:#EE7F00;
}