/* LISTE DEFINITION */
.cms_definition{
clear:both;
margin:0 0 10px 0;
}
.cms_definition .d1{
padding:0;
}
.cms_definition .d2{
padding:0;
overflow:hidden;
zoom:1;
}
.cms_definition dl{
padding:0;
}
.cms_definition dt{
padding:0;
}
.cms_definition dd{
background:#fff;
padding:10px;
}