.cms_encart1 { width:350px; }

.cms_encart1_body {
	background: url(../../images/images/encart_head.gif) no-repeat;
	width:274px;
	margin:0 auto;
}
.cms_encart1_body h1 {
	color: #FFF;
	height:63px;
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	font-size:20px;
	font-weight:blod;
	margin:0;
	padding:0;
	text-transform:uppercase;
}
.cms_encart1_content {
	color: #FFF;
	background:url(../../images/images/encart_body.gif) repeat-y;
	/*text-align:center;*/
	/*font-weight:bold;*/
	font-size:12px;
	padding:20px;
	font-variant:small-caps;
}