/* @page { size:landscape } */

.noprint {
	display : none;
}

* {
	/*background-color: white !important;
	background-image: none !important;
	quotes: "\201E" "\201C" "\201A" "\2018";*/
}

p a:link, p a:active, p a:visited, p a:hover  { 
	text-decoration:underline;
}

p a[href]:after {
	content: " <" attr(href) "> ";
	font-size: 80%;
}
p *[title]:after {
	content:" ("attr(title)")";
	color:#888;
	background-color:inherit;
	font-style:italic;
	size:80%;
}
h1, h2, h3, h4, h5, h6 { 
	page-break-after: avoid;
}